@import '~reset-css/reset.css';
@import '~breakpoint-sass';
@import '~breakpoint-slicer';
@import './type';
@import './variables';
@import './notifications';
@import './grid';
@import './object-modal';
@import './object-details';

body {
  background: $white;
  color: $slate;
  overflow-y: scroll;
  overflow-x: hidden;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
}
