body {
  background: #fff;
  color: #000;
}

.object-grid {
  display: flex;
  margin-left: -30px;
  width: auto;

  .column {
    padding-left: 30px;
    background-clip: padding-box;
  }

  .grid-item {
    margin-bottom: 30px;

    img {
      display: block;
      max-width: 100%;
    }
  }
}
