@font-face {
  font-family: 'circular-medium';
  src: url('./fonts/lineto-circular-medium.woff2') format('woff2');
}

@font-face {
  font-family: 'source-sans-pro-regular';
  src: url('./fonts/SourceSansPro-Regular.otf') format('opentype');
}

body {
  font-family: 'source-sans-pro-regular';
}
